# idea
/.idea/
/.ideaSetting/
/.settings/
/target/
/out/
/src/team/skadi/rental/service/.idea/
*.iml
*.iws

# eclipse
/bin/
.classpath
.project

# file
/log/
*.log
*.class

# config
*.cfg
*.properties

# test files
/src/test/